<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,900;1,300&family=Nunito:wght@300;400;600;700&display=swap"
        rel="stylesheet">
    <title>CSS Card</title>
    <link rel="stylesheet" href="./style.scss">
</head>

<body>
    <article class="grid-container card">
        <header class="card-header">
        </header>
        <aside class="card-body">
            <h3 class="font-title">Title</h3>
            <p class="font-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, quo, optio
                vel quibusdam corrupti laboriosam voluptatem eius culpa neque nulla alias architecto aliquam magnam
                reiciendis, doloribus iste velit cumque in!</p>
            <p class="font-featured">Published: <span class="font-featured-highlight">March 20,2020</span></p>
        </aside>
        <footer class="card-footer">
            <button class="btn-moreinfo font-featured">More info</button>
        </footer>
    </article>
</body>

</html>