@use "core/scss/variables.scss" as vars;

#about {
  padding: vars.$padding-generic;

  img {
    max-width: 50%;
    height: 50%;
  }

  /* .about {
    &-title {
      color: vars.$text-color;
    }
  } */
}
