# Parcel related files
layout/colors_palette/dist/
layout/colors_palette/.parcel-cache/
layout/colors_palette/node_modules
layout/colors_palette/package-lock.json

layout/themes_demo/dist/
layout/themes_demo/.parcel-cache/
layout/themes_demo/node_modules
layout/themes_demo/package-lock.json

layout/nav-bar/dist/
layout/nav-bar/.parcel-cache/
layout/nav-bar/node_modules
layout/nav-bar/package-lock.json

layout/card_css/dist/
layout/card_css/.parcel-cache/
layout/card_css/node_modules
layout/card_css/package-lock.json

layout_extra/dist/
layout_extra/.parcel-cache/
layout_extra/node_modules
layout_extra/package-lock.json

javascript/01-deliverables/node_modules/**
javascript/01-deliverables/package-lock.json
javascript/01-deliverables/transpiled

bundling/basic/node_modules/**
bundling/basic/dist/**
bundling/advanced/node_modules/**
bundling/advanced/dist/**

frameworks/react/react_basic/node_modules/**
frameworks/react/react_basic/dist/**
frameworks/react/react_advanced/node_modules/**
frameworks/react/react_advanced/dist/**
frameworks/angular/my-app/node_modules/**
frameworks/angular/my-app/dist/**
frameworks/angular/my-app/.vscode/**
frameworks/vue/node_modules/**
frameworks/vue/dist/**