@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,400&display=swap");

// Background changes
$darkbg: false;

// Red theme variables
$theme-color: red;
$font-contrast-color: ghostwhite;

// Colors degrees scale

// Fonts
$font-family: "Poppins", sans-serif;
$font-base-size: 16px;
$font-title-size: 18px;
$font-title-weight: 800;
$font-subtitle-size: 14px;
$font-darken-amount: 1;
$font-lighten-amount: 1;

// Elements
$box-shadow: -2px 5px 15px 4px rgba(0, 0, 0, 0.8);
$area-color-oscilation-amount: 30;
