@use "../../../styles/layout.scss" as layout;
.gallery- {
  &-main--container {
    @include layout.flex-column-vertical-centered("center");
    padding-top: 0.5rem;
  }
  &-actions- {
    &-vertical-list {
      display: flex;
      flex-direction: row;
      & mat-list-item {
        padding: 0 0.2rem;
        border: 3px solid red;
      }
    }
  }
  &-list- {
    &-item {
      cursor: pointer;

      &.selected {
        border: 1px solid red;
      }
    }
  }

  &-highlight- {
    &-card {
      width: calc(100% - 25rem);
    }
  }
}
