@use "../../../styles/layout.scss" as layout;
.gallery- {
  &-main--container {
    @include layout.flex-column-vertical-centered("center");
    padding-top: 0.5rem;
  }

  &-container {
    display: flex;
    justify-content: space-around;
  }

  &-list {
    min-width: 12vw;
    display: flex;
    &-wrapper {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      justify-content: space-around;
    }

    &--item {
      cursor: pointer;

      &.selected img {
        transform: scale(1.4);
        transition: 0.6s ease all;
      }

      .avatar {
        max-width: 20%;
      }
    }
  }
  &-featured {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &-rotation-wrapper {
      display: flex;
    }

    &-pic {
      position: relative;
      max-width: 100%;
      &-wrapper {
        height: 500px;
        overflow: hidden;
        width: 100%;
        text-align: center;
      }
    }
    &-actions-list {
      display: flex;
      flex-direction: row;
      gap: 0.2rem;
      & mat-list-item {
        padding: 0 0.2rem;
        border: 3px solid red;
      }
      .zoom-actions {
        margin-left: 0.6rem;
      }
    }
    &-fallback {
      justify-self: stretch;
      padding-top: 20%;
    }
  }
}
