$white: white;

$body-background-color: gainsboro; 
$toolbar-background-color: $white;
$lemon-color: yellowgreen;

// fonts
$title-font-size : 24px;
$nav-title-font-size: 20px;
$nav-items-font-size: 18px;
$body-font-size: 16px;

$title-font-weigth: 600;
$nav-title-font-weigth: 900px;
$nav-items-font-weigth: 500;
$body-font-weigth: 400px;

// responsive fonts
$nav-items-font-size-sm: 20px;
$nav-items-font-weigth-sm: 600;

