@use "core/scss/variables.scss" as vars;

#title {
  .my-title {
    font-family: "Nunito", sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: vars.$text-color;
  }

  img {
    max-width: 25%;
  }

  #title-rocket {
    flex-shrink: 1;
    width: 10rem;
    padding: 0px 18px;
  }
}
