.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row-vertical-centered($horizontalDisp) {
  @extend .flex-row;
  justify-content: $horizontalDisp;
  align-items: center;
}

@mixin flex-row-horizontal-centered($verticalDisp) {
  @extend .flex-row;
  justify-content: center;
  align-items: $verticalDisp;
}

.full-size {
  min-width: 100vw;
  min-height: 100vh;
}

.light-background {
  background-color: #f2f2f2;
}
