<section id="login" class="login--flex-center login--heigth">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type=" email" matInput placeholder="Ex. pat@example.com">
    <mat-hint>Errors appear instantly!</mat-hint>
    <!--  <mat-error *ngIf="username.hasError('email') && !username.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="username.hasError('required')">
      Email is <strong>required</strong>
    </mat-error> -->
    <!--  <mat-label>Password</mat-label>
    <input type="email" matInput placeholder="Ex. pat@example.com"> -->
  </mat-form-field>

</section>
