$text-color: teal;
$padding-quote: 15px;

#title {
  .my-title {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    padding-left: $padding-quote;
    color: $text-color;
  }
}

#quote {
  padding: $padding-quote;
  display: flex;
  flex-direction: column;
}
