/* Use components styles sheets here */
@use "./core/scss/variables.scss" as vars;

body,
#root {
  min-height: 100vh;

  #root > .MuiBox-root {
    min-height: 100vh;
  }
}

code {
  background-color: #eceff1;
}

#quote {
  padding: vars.$padding-quote;
  display: flex;
  flex-direction: column;
}
